@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
  
  
}


.showcase
{
  position:sticky;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  
}

.text h2
{
  font-size: 8em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  word-spacing: 8px;
 
}

.text a
{
  display: inline-block;
  font-size: 2em;
  background: #ff1010;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  opacity: 0.9;
}
.text a:hover
{
  letter-spacing: 6px;
}

.collage img{


  width: 100%;
 
  height:auto;
  
 
}





:root {
    
   
    --bg: #191a19;
   
}



html {
    font-size: 62.5%;
   
}



body {
    background: var(--bg);
    
}

.about{
  
  background-image: url(GALLERY/6.jpg);
  
  background-repeat: no-repeat;

  
}


.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    
   
   
    
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 80%;
    padding: 5%;
    border-radius:57px;
    box-sizing: content-box;
  }



.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}



.about .row .content p {
  font-size: 4em;
  font-weight: 700;
  color: #38ffee;
  line-height: 1.5em;
  padding: 10px;
  text-shadow: 1px 1px #38ffee;

  text-transform: uppercase;
  word-spacing: 8px;
  font-family: 'Roboto', sans-serif;
  opacity: 0.9;
  
}
.equipments img{
  opacity: 0.9;
 
}

.transform
{
  position:sticky;
  
  
  width: 100%;
  min-height: 100vh;
  background: #111;
  background-image: url(GALLERY/21.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  
}
.transform .text{


 
  font-size: 6em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  word-spacing: 8px;
  padding: 50px 20px 90px 210px;
  color: #ff1010;
  font-family: 'Poppins', sans-serif;
  
}
 #transform_video1 {
  
  
  padding:26px 53px ;
 
}
#transform_video2 {
  
  
  padding:26px 71px ;
 
}

